@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
https://fontawesome.com/v5/icons/bars?f=classic&s=solid


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1366px;
    background-color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    color: white;
    margin: 0 auto;
}

/* shared styles */

.btn-primary{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
}

.display-flex{
    display: flex;
}

.text-primary{
    color: white;
}

.text-secondary{
    color: #E6533C;
}

.text-gray{
    color: rgba(255, 255, 255, 0.5);
}

.container{
    max-width: 1176px;
    margin: 0 auto;

}

/* header related styles */

.header{
    background-image: linear-gradient(180.00deg, rgb(61, 58, 58),rgba(119, 119, 119, 0) 100%);

}

/* nav related styles */
.brand{
    font-weight: 800;
    font-size: 2.25rem;

}

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 43px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 2px;
    padding-right: 20px;
}

.nav-item{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
}
.nav-link{
    text-decoration: none;
}

.btn-home{
    width: 92px;
    height: 38px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.menu-icon{
    display: none;
}

/* Banner related styles */
.banner-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.banner-content{
    width: 520px;
    height: 440px;
}
.banner-title{
    font-size: 4.38rem;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 28px;
    line-height: 85px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px;
}

#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;
}

.btn-banner{
    position: relative;
}
.btn-download{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    position: absolute;
    margin-left: 15px;
}

.banner-img{
    max-width: 349px;
    height: 580px;
    margin-right: 45px;
    position: relative;
}


/* badge 1 styles */
.btn-float1{
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    text-align: left;
    padding-left: 25px;
    padding-bottom: 5px;
}
#badge-1{
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    margin-top: 120px;
    margin-left: -120px;
}

#badge-1-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}


/* badge 2 styles */
.btn-float2{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    text-align: left;
}

#badge-2{
    font-size: 1rem;
    font-weight: 400;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -170px;
    margin-left: -110px;
}

#badge-2-title{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
.badge-circle{
    width: 40px;
    height: 40px;
}
.badge-circle-2{
    display: none;
}





/* habit section styles */
.habit{
    margin-top: 100px;
}

.habit-content{
    max-width: 671px;
    margin: 50px auto;
    margin-top: 0;
    text-align: center;
}

.habit-title{
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.habit-img-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 230px;
}

.habit-img-content img{
    border: 3px solid rgb(75, 72, 72);
    border-radius: 50%;
    margin-bottom: 25px;
}

.habit-img-content h5{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 6px;
}

.habit-img-content p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.habit-img-container{
    justify-content: space-between;
    gap: 40px;
}

/* run section related styles */
.run{
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 390px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
}

.run-img{
    object-fit: none;
    object-position: 67% 34%;
    width: 25rem;
    height: 22rem;
    border-radius: 18px;
    margin-right: 30px;
}

.run-content{
    width: 443px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.run-title{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 14px;
}

.run-description{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* BMI Calculator related styles */

.calculator-info{
    max-width: 671px;
    height: 120px;
    margin: 50px auto;
    margin-top: 0;
    text-align: left;
}

.calculator-title{
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.calculator-container{
    background-color: rgb(34, 34, 34);
    margin-bottom: 90px;
}
.calculator-content{
    height: 487px;
    justify-content: space-between;
}

.bmi-chart{
    margin-top: 50px;
}

.bmi-chart-title{
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 50px;
}
.bmi-text{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
}

.calculate-bmi{
    width: 574px;
    height: 386px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.calculate-bmi-title{
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 14px;
}

.bmi-table{
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    text-align: left;
}

.bmi-table th, td{
    border: 1px solid gray;
    padding: 10px;
}

.bmi-form{
    height: 168px;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
    margin-bottom: 44px;
}

.bmi-form input{
    max-width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    
}

.bmi-form select{
    max-width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
}

#select-2{
    grid-column: span 2; 
}





/* team realted styles */
.team-content{
    max-width: 671px;
    margin: 50px auto;
    margin-top: 0;
    text-align: center;
}

.team-title{
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.team-img-container{
    height: 604px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 80px;
}
.team-img-item{
    border-radius: 18px;
    height: 289px;
    overflow: hidden;
    position: relative;
}

.trainer-info{
    position: relative;
    line-height: 5px;
    left: 25px;
    top: 200px;
    font-size: 20px;
}

.trainer-img-1{
    position: absolute;
    width: 100%;
    height: 289px;
    opacity: 0.8;
}
.trainer-img-2{
    position: absolute;
    width: 100%;
    height: 289px;
    opacity: 0.8;
}
.trainer-img-3{
    position: absolute;
    width: 100%;
    height: 289px;
    opacity: 0.8;
}
.trainer-img-4{
    position: absolute;
    width: 100%;
    height: 289px;
    opacity: 0.8;
}
.trainer-img-5{
    position: absolute;
    width: 100%;
    height: 289px;
    opacity: 0.8;
}
.trainer-img-6{
    position: absolute;
    width: 100%;
    height: 289px;
    opacity: 0.8;
}

/* our exercise styles */

.exercise-video{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 16px;
}

.exercise-title{
    max-width: 671px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}


.exercise-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}




/* footer related styles */
.footer{
    height: 489px;
    background-color: rgb(34, 34, 34);
    margin-top: 50px;
}
.footer-container{
   padding-top: 66px;
}

.footer-content{
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: 249px;
    margin-bottom: 79px;
}

.fitness{
    width: 443px;
}

.footer-logo{
    font-size: 70px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
}

.get-started{
    height: 249px;
    text-align: left;
}

.get-started > h5{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
}

.list-items{
    list-style: none;
    font-size: 23px;
    font-weight: 400;
    padding-left: 0px;
    line-height: 45px;
}

hr{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0;
}

.copyright{
    width: 318px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    margin: 35px auto;
}




/* responsive media query */
@media screen and (max-width: 576px) {

    body{
        width: 393px;
    }
    .container{
        max-width: 353px;
        margin: 0 auto;
    
    }
    .nav-bar{
        justify-content: space-between;
        align-items: center;

    }

    .nav-links{
        display: none;
    }

    .menu-icon{
        display: block;
        width: 20px;
        height: 20px;
        
    }

    .banner-container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .banner-img{
        margin-right: 0;
    }
    .banner-content{
        width: 350px;
        height: 335px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .banner-title{
        font-size: 2.2rem;
        line-height: 35px;
    }

    #shape{
        font-size: 4rem;
    }

    .btn-download{
        width: 169px;
        height: 54px;
        padding: 16px 20px 16px 20px;
        margin-left: 10px;
    }

    .btn-banner{
        width: 169px;
        height: 54px;
        padding: 16px 16px 16px 16px;
    }
    .btn-banner-club{
        display: none;
    }

    .habit-title{
        font-size: 2rem;
    }

    .habit-img-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .run{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 353px;
        height: 531px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .run-content{
        width: 287px;
        height: 264px;
        margin: 30px auto;
    }

    .run-img{
        width: 17.5rem;
        height: 10rem;
        object-fit: cover;
        object-position: 67% 20%;
        margin: 0 auto 30px;
    }

    .run-title{
        font-size: 2rem;
        font-weight: 900;
    }

    .btn-run{
        width: 287px;
    }

    .team-title{
        font-size: 32px;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        height: 1790px;
        gap: 5px;
        padding: 20px;
    }

    .footer{
        height: 986px;
        margin-top: 60px;
    }

    .footer-content{
        flex-direction: column;
        width: 353px;
        height: 748px;
    }

    .fitness{
        width: 317px;
        height: 200px;
    }

    .get-started{
        width: 181px;
        height: 249px;
    }

    .calculator-info{
        width: 353px;
        height: 124px;
    }
    .calculator-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 780px;
    }

    .calculator-title{
        font-size: 2rem;
    }

    .bmi-chart{
        margin-top: 0px;
    }

    .bmi-chart-title{
        font-size: 1rem;
        margin-bottom: 14px;
    } 

    .calculate-bmi-title{
        font-size: 1rem;
    }
    .calculate-bmi{
        width: 354px;
    }
    /* badge 1 styles */
    .btn-float1{
        width: 145px;
        height: 74px;
    }

    #badge-1{
        font-size: 0.7rem;
        font-weight: 400;
        position: absolute;
        margin-top: 47px;
        margin-left: -162px;
    }

    #badge-1-title{
        font-size: 1.87rem;
        font-weight: 900;
        color: white;
    }

    /* badge 2 styles */
    .btn-float2{
        width: 155px;
        height: 72px;
    }
    #badge-2{
        font-size: 0.75rem;
        font-weight: 400;
        margin-top: -320px;
        margin-left: 10px;
    }

    #badge-2-title{
        font-size: 1.12rem;
        font-weight: 900;
        color: white;
    }
    .badge-circle{
        display: none;
    }
    .badge-circle-2{
        display: block;
        width: 30px;
        height: 30px;
    }
    
    .exercise-video{
        margin-top: 20px;
    }

    .exercise-title{
        font-size: 30px;
    }

    .exercise-video iframe{
        width: 313px;
        height: 272px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


}