@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

font-family: 'Miama', sans-serif;
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    color: white;
    
}

.button{
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
}